

<div style="text-align:center">
      <div *ngIf="loading; else loadedTweetSection" class="loadingSection">
        <h1>Loading your tweets....</h1>
      
      </div>
      <ng-template #loadedTweetSection>
        <div *ngIf="tweets?.length > 0; then tweetsDisplay else noTweetsDisplay"></div>

        <ng-template #tweetsDisplay>
        <h2>Tweets</h2>
          <div class="testStyling"  *ngFor="let tweet of tweets" [@fadeInOut]>
            <div [innerHTML]="tweet.html"></div>
            
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Delete Tweet</h4>
                <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p><strong>Are you sure you want to delete this tweet?</strong></p>
                <p>This tweet will be permanently deleted.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Canceled')">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="modal.close(tweet)">Ok</button>
              </div>
              </ng-template>
              <button class="btn btn-outline-primary" (click)="open(content)">Delete Tweet</button>
        </div>
        </ng-template>
        
        <ng-template #noTweetsDisplay>
          
          <h3>No tweets to display. You are all good!</h3>

        </ng-template>

    </ng-template>

</div>






