<!-- Masthead -->

<header class="masthead text-black text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row jumboblurb">
      <div class="col-xl-9 mx-auto mb-2">
        <h1 class="mb-2">Don't Get <br>
          <span id="cancelledText">CANCELLED.</span></h1>
        <h3>Check your old tweets for bad stuff to make sure you don't get cancelled. </h3>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
       <div class="mx-auto" style="width: 300px;">
        <div class="button-effect">
        <!--<button class="rad-button wwt flat"(click)="callToken()">call service</button> -->
              <button id="calc" class="effect effect-2" (click)="callToken()" href="#" title="Check My Tweets">Check My Tweets</button>
        </div>
          </div>
      </div>
    </div>
  </div>
</header>


<app-overview-list></app-overview-list>

