
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" href="/">Don't Get Cancelled</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/login">Home</a>
      <a class="nav-item nav-link" href="/about">About</a>
    </div>
  </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Logout</a>
    </div>
    </div>
  </div>
</nav>
